html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title MovieFeeling
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous")
		style
			include style.css
	body


		div.background
			div.formmover
				h1 Is this the correct movie?
				p #{movies.title} / #{movies.original_title} 
				p (#{movies.release_date})
				p #{movies.overview}
				img(src='http://image.tmdb.org/t/p/w185//' + movies.poster_path)
				form(class="form-group" method="POST" action="back")
					button(type="submit" class="btn btn-light formmover back" value="submit") No

				form(class="form-group" method="POST" action="go")
					button(type="submit" class="btn btn-light formmover Go" value="submit" id="continue") Yes!


				
		div(id="carouselLanding" class="carousel slide" data-ride="carousel")
			div(class="carousel-inner")
				div(class="carousel-item active")
					img(class="d-block w-100 h-100" src="images/bg1.jpg" alt="First slide")
				div(class="carousel-item")
					img(class="d-block w-100 h-100" src="images/bg2.jpg" alt="3d slide")
				div(class="carousel-item")
					img(class="d-block w-100 h-100" src="images/bg3.jpg" alt="4th slide")



		script(src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous")

		//- script.
		//- 	$(document).ready(function(){
		//- 		var id= #{movies.genre_ids[0]}
		//- 		console.log("1st log", id)	
		//- 			$("#continue").click(function(){
		//- 				$.ajax({
		//- 						url:"/filter.pug",
		//- 						method:"POST",
		//- 						type:"JSON",
		//- 						data:{id:"id"},
		//- 						success:function(data){
		//- 							console.log("2nd log", data)
		//- 						}
		//- 						})
		//- 			})
		//- 	})